/* style.css */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: #000;
    text-decoration: none;
}

#container{
    display: flex;
    flex-direction: column;
    
}

.book{
    margin-top:20px
}

.navigation{
    width: 20vw;
    margin: 10px 0 10px 10px;
}

.navigation button+button{
    margin: 0 0 0 10px;
}

#submit-author{
    margin: 0 0 0 10px;
}